body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}


nav{
    margin-block: 18%;
    height: 25vh;
    background-color: #FEF7E2;
    border-radius: 100px;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;
    flex-wrap: wrap;
}

nav .align img{
    width: 70px;
    object-fit: cover;
    margin-left: 0;
}

.flex .align span{
    display: inline-block;
    margin-inline: 80px;
}

.flex .align{
    justify-content:flex-start;
    flex: 2;
    height: 45%;
    border-radius: 80px;
    font-size: 40px;

}

.button{
    flex: 1;
    height: 25%;
    justify-content: center;
    align-items: center;
    background-color: #FCDF7E;
    padding: 10px 30px;
    border-radius: 50px;

}