body {
  font-family: Arial, Helvetica, sans-serif;
  color: #78452b;
  margin: 0;
}

main {
  padding-inline: 40px;
  padding-bottom: 40px;
}

.flex {
  display: flex;
}

nav {
  height: 18vh;
  gap: 10px;
  align-items: center;
  padding-inline: 10px;
  background-color: #fef7e2;
}

nav .align img {
  width: 40px;
  object-fit: cover;
  margin-right: 10%;
}

.nav-button {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 5px;
  border-radius: 100px;
  background-color: #fcdf7e;
  font-weight: bold;
  font-size: 15px;
  box-sizing: border-box;
}

.flex.align {
  flex: 1 1 auto;
  border-radius: 100px;
  padding: 8px 15px;
  font-size: 18px;
}

.honey-article {
  padding-block: 10px;
  box-sizing: border-box;
}

.honey-article h2 {
  font-size: 40px;
}

.card-container {
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-block: 5px;
}

.card {
  flex: 0 1 310px;
  height: auto;
  border-radius: 50px;
  overflow: hidden;
  background-color: #fef7e2;
}

.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.info-align {
  padding: 25px 60px 10px 60px;
  justify-content: space-between;
}

.card,
.align-card {
  flex-direction: column;
}

.align-card :is(h3, p) {
  margin: 0;
}

.button {
  width: 50%;
  align-self: center;
  text-align: center;
  padding: 10px 20px;
  margin-block: 0 20px;
  border-radius: 20px;
  background-color: #fcdf7e;
}

.container {
  gap: 40px;
  flex-wrap: wrap-reverse;
  border-radius: 40px;
  padding: 30px;
  background-color: #fbf7e3;
}

.container img {
  flex: 1 1 40%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.article {
  flex: 1 1 30%;
}
